{{ define "js-extra-top" }}
{{ end }}

{{ define "css-extra-top" }}
{{ end }}

{{ define "breadcrumbs" }}
{{ end }}

{{ define "flash" }}
{{ end }}

{{ define "filters" }}
{{ end }}

{{ define "js-extra-bottom" }}
{{ end }}

{{ define "admin/impersonate" }}
{{ end }}

{{ define "app" }}
    <!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <title>lyticaa</title>

            <script src="../../static/js/app.coffee"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/js/dropify.min.js"></script>

            {{ template "js-extra-top" . }}

            <link rel="stylesheet" href="../../static/css/app.css">

            {{ template "css-extra-top" . }}

            <link rel="icon" href="../../static/images/favicon.png" sizes="16x16" type="image/png">
        </head>
        <body class="sidebar-dark">
            <div class="main-wrapper">
                <nav class="sidebar">
                    <div class="sidebar-header">
                        <a href="/" class="sidebar-brand">
                            <img src="../../static/images/icon.png" class="w-20"/>
                        </a>
                        <div class="sidebar-toggler not-active">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    {{ template "nav" . }}
                </nav>
                <div class="page-wrapper">
                    <nav class="navbar">
                        <a href="#" class="sidebar-toggler">
                            <i data-feather="menu"></i>
                        </a>
                        {{ template "nav/account" . }}
                    </nav>
                    <div class="page-content">
                        {{ template "admin/impersonate" . }}
                        <div class="row">
                            <div class="col-md-6">
                                {{ template "breadcrumbs" . }}
                            </div>
                            <div class="col-md-6">
                                {{ template "filters" . }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-xl-12 stretch-card">
                                {{ template "flash" . }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-xl-12 stretch-card">
                                <div class="alert alert-icon-danger text-center pt-3 w-100 account-change-password" style="display: none;">
                                    <i data-feather="alert-triangle"></i>
                                    Something went wrong while trying to request a password change. Please try again and should the problem persist, please contact our support team by clicking <a href="#" class="contact-support">here</a>.
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-xl-12 stretch-card">
                                <div class="alert alert-icon-success text-center pt-3 w-100 account-change-password" style="display: none;">
                                    <i data-feather="check-circle"></i>
                                    Instructions on how to change your password have been emailed to you.
                                </div>
                            </div>
                        </div>
                        {{ template "content" . }}
                    </div>
                    {{ template "footer" . }}
                </div>
            </div>
            {{ if .User.Impersonate }}
                <div class="hide intercom" data-intercom-id="{{.Config.IntercomId}}" data-email="{{.User.Impersonate.Email}}" data-created-at="{{.User.Impersonate.CreatedAt}}"></div>
            {{ else }}
                <div class="hide intercom" data-intercom-id="{{.Config.IntercomId}}" data-email="{{.User.Email}}" data-created-at="{{.User.CreatedAt}}"></div>
            {{ end }}
            {{ template "js-extra-bottom" . }}
        </body>
    </html>
{{ end }}
