{{ define "bare" }}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>lyticaa</title>

        <link rel="stylesheet" href="../../static/css/app.scss">

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

        <link rel="icon" href="../../static/images/favicon.ico" sizes="16x16" type="image/x-icon">
    </head>
    <body>
        <div class="main-wrapper">
            <div class="page-wrapper ml-0 w-100">
                {{ template "content" . }}
            </div>
        </div>
    </body>
    </html>
{{ end }}
