{{ define "nav/menu" }}
    <li class="nav-item nav-category">Main</li>
    <li class="nav-item">
        <a href="/welcome" class="nav-link">
            <i class="link-icon" data-feather="globe"></i>
            <span class="link-title">Welcome</span>
        </a>
    </li>
{{ end }}
