{{ define "breadcrumbs" }}
    <nav class="page-breadcrumb">
        <ol class="breadcrumb pt-2">
            <li class="breadcrumb-item">
                <a href="/">Metrics</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Net Margin</li>
        </ol>
    </nav>
{{ end }}

{{ define "content" }}
{{ end }}
