.sidebar-dark .sidebar .sidebar-header {
    background: #0c1427;
    border-bottom: 1px solid #0c1427;
    border-right: 1px solid #0c1427;
}

a:focus {
    outline: 0 !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
}

.table-responsive {
    overflow-x: unset !important;
}

table.dataTable tbody td,
table.dataTable thead th {
    outline: none;
}

.modal-content {
    border: none !important;
}

.modal-header {
    border-bottom: none !important;
}

.modal-footer {
    border-top: none !important;
}

table > thead > tr > th:hover, .delete, .edit {
    cursor: pointer;
}

.hide {
    display:none !important;
}

svg[data-toggle="tooltip"] {
    height: 17px;
}

.form-control {
    border-radius: 4px !important;
}

.mt--20 {
    margin-top: 0.2rem !important;
}

.is-valid, .is-invalid {
    background-image: none !important;
}
.is-valid, .is-valid:focus {
    border-color: #bcebd1 !important;
}
.is-invalid, .is-invalid:focus {
    border-color: #ffc6d4 !important;
}
