{{ define "filters" }}
    <div class="d-flex justify-content-between align-items-center flex-wrap grid-margin float-md-right">
        <button type="button" class="btn btn-outline-info btn-icon-text mr-2 d-none d-md-block">
            <i class="btn-icon-prepend" data-feather="upload"></i>
            Import
        </button>
    </div>
{{ end }}