{{ define "footer" }}
    <footer class="footer d-flex flex-column flex-md-row align-items-center justify-content-between">
        <p class="text-muted text-center text-md-left">Copyright &copy;&nbsp;<a href="https://www.getlytica.com" target="_blank">Lytica</a>. All rights reserved</p>
    </footer>
{{ end }}
