{{ define "filters/import/button" }}
{{ end }}

{{ define "filters/import/modal" }}
{{ end }}

{{ define "filters/date" }}
{{ end }}

{{ define "filters/extra"}}
{{ end }}

{{ define "filters" }}
    <div class="d-flex justify-content-between align-items-center flex-wrap grid-margin float-md-right">
        {{ template "filters/import/button" . }}
        {{ template "filters/extra" . }}
        {{ template "filters/date" . }}
    </div>

    {{ template "filters/import/modal" . }}
{{ end }}
