@import "../variables";

.sidebar {
  background: $theme-color-01 !important;
  .sidebar-body {
    .nav {
      .nav-item {
        &:hover {
          .nav-link {
            color: $font-color-01 !important;
            .link-icon {
              color: $background-color-01 !important;
            }
          }
        }
      }
      .nav-item.active {
        .nav-link {
          .link-icon {
            color: $background-color-01 !important;
          }
          //&:before {
          //  background: $background-color-01 !important;
          //}
        }
        .nav-link[role="button"] {
          &:before {
            background: $background-color-01 !important;
          }
        }
      }
    }
    .nav.sub-menu {
      .nav-item {
        &.active {
          .nav-link {
            &:before {
              border: 1px solid $background-color-02 !important;
              background: $background-color-02 !important;
            }
          }
        }
        .nav-link.active {
          color: $font-color-01 !important;
          &:before {
            border: 1px solid $background-color-01 !important;
            background: $background-color-01 !important;
          }
        }
        &:hover {
          .nav-link {
            &:before {
              border: 1px solid $background-color-01 !important;
              background: $background-color-01 !important;
            }
          }
        }
      }
    }
  }
}

.sidebar-header {
  background: $theme-color-01 !important;
  border-bottom: 1px solid $theme-color-01 !important;
  border-right: 1px solid $theme-color-01 !important;
}

.sidebar-body {
  background-image: linear-gradient(147deg, $theme-color-01 24%, $theme-color-02 100%) !important;
}

.sidebar-dark {
  .sidebar {
    .sidebar-body {
      .nav {
        .nav-item.nav-category {
          color: $background-color-01 !important;
        }
        .nav-item {
          .nav-link[aria-expanded=true] {
            color: #bfc3ce !important;
          }
          &:hover {
            .nav-link {
              .link-title {
                color: $background-color-01 !important;
              }
            }
          }
        }
        .nav-item.active {
          .nav-link {
            .link-title {
              color: $background-color-01 !important;
            }
          }
        }
      }
    }
  }
}
