{{ define "breadcrumbs" }}
    <nav class="page-breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Expenses</li>
        </ol>
    </nav>
{{ end }}

{{ define "content" }}
{{ end }}
