.navbar, .sidebar .sidebar-body, .card {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.sidebar .sidebar-header .sidebar-brand {
    letter-spacing: 0px !important;
    color: #423789 !important;
}

.sidebar .sidebar-header .sidebar-toggler span {
    background: #423789 !important;
}

a:focus {
    outline: 0 !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
}

.table-responsive {
    overflow-x: unset !important;
}

table.dataTable tbody td,
table.dataTable thead th {
    outline: none;
}

.modal-content {
    border: none !important;
}

.modal-header {
    border-bottom: none !important;
}

.modal-footer {
    border-top: none !important;
}

table > thead > tr > th:hover {
    cursor: pointer;
}

.hide {
    display:none !important;
}

.is-valid, .is-invalid {
    background-image: none !important;
}
.is-valid, .is-valid:focus {
    border-color: #bcebd1 !important;
}
.is-invalid, .is-invalid:focus {
    border-color: #ffc6d4 !important;
}

#dashboard-total-sales-chart {
    min-height: 250px;
    border: 1px solid #f2f4f9;
    border-radius: .25rem;
}
