.navbar, .sidebar .sidebar-body, .card {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.sidebar .sidebar-header .sidebar-brand {
    letter-spacing: 0px !important;
    color: #423789 !important;
}

.sidebar .sidebar-header .sidebar-toggler span {
    background: #423789 !important;
}

a:focus {
    outline: 0 !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
}

.table-responsive {
    overflow-x: unset !important;
}

table.dataTable tbody td,
table.dataTable thead th {
    outline: none;
}

.modal-content {
    border: none !important;
}

.modal-header {
    border-bottom: none !important;
}

.modal-footer {
    border-top: none !important;
}