{{ define "nav::account::menu" }}
    <div class="dropdown-body">
        <ul class="profile-nav p-0 pt-3">
            <li class="nav-item">
                <a href="/auth/logout" class="nav-link logout">
                    <i data-feather="log-out"></i>
                    <span>Logout</span>
                </a>
            </li>
        </ul>
    </div>
{{ end }}
