{{ define "nav/menu" }}
    <li class="nav-item nav-category">Main</li>
    <li class="nav-item">
        <a href="/setup" class="nav-link">
            <i class="link-icon" data-feather="settings"></i>
            <span class="link-title">Setup</span>
        </a>
    </li>
{{ end }}
