{{ define "js-extra-top" }}
{{ end }}

{{ define "breadcrumbs" }}
{{ end }}

{{ define "flash" }}
{{ end }}

{{ define "filters" }}
{{ end }}

{{ define "js-extra-bottom" }}
{{ end }}

{{ define "app" }}
    <!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <title>lytica</title>

            <script src="../../assets/js/app.coffee"></script>

            {{ template "js-extra-top" . }}

            <link rel="stylesheet" href="../../assets/css/app.css">
            <link rel="icon" href="../../assets/images/favicon.png" sizes="16x16" type="image/png">
        </head>
        <body class="sidebar-dark">
            <div class="main-wrapper">
                <nav class="sidebar">
                    <div class="sidebar-header">
                        <a href="/" class="sidebar-brand">
                            <img src="../../assets/images/icon.png" class="w-20"/>
                        </a>
                        <div class="sidebar-toggler not-active">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    {{ template "nav" . }}
                </nav>
                <div class="page-wrapper">
                    <nav class="navbar">
                        <a href="#" class="sidebar-toggler">
                            <i data-feather="menu"></i>
                        </a>
                        <div class="navbar-content">
                            <ul class="navbar-nav">
                                <li class="nav-item dropdown nav-profile">
                                    <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <img class="profile-image-thumb" src="" alt="profile">
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="profileDropdown">
                                        <div class="dropdown-header d-flex flex-column align-items-center">
                                            <div class="figure mb-3">
                                                <img class="profile-image" rel="{{.User.Picture}}" src="" alt="">
                                            </div>
                                            <div class="info text-center">
                                                <p class="name font-weight-bold mb-0">{{.User.Nickname}}</p>
                                                <p class="email text-muted mb-3">{{.User.Email}}</p>
                                            </div>
                                        </div>
                                        {{ template "nav::account::menu" }}
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <div class="page-content">
                        <div class="row">
                            <div class="col-md-6">
                                {{ template "breadcrumbs" . }}
                            </div>
                            <div class="col-md-6">
                                {{ template "filters" . }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-xl-12 stretch-card">
                                {{ template "flash" . }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-xl-12 stretch-card">
                                <div class="alert alert-danger text-center pt-3 w-100 account-change-password" style="display: none;">
                                    Something went wrong while trying to request a password change. Please try again and should the problem persist, please contact our support team by clicking <a href="#" class="contact-support">here</a>.
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-xl-12 stretch-card">
                                <div class="alert alert-success text-center pt-3 w-100 account-change-password" style="display: none;">
                                    Instructions on how to change your password have been emailed to you.
                                </div>
                            </div>
                        </div>
                        {{ template "content" . }}
                    </div>
                    {{ template "footer" . }}
                </div>
            </div>
            <div class="hide intercom" data-intercom-id="{{.Config.IntercomId}}" data-name="{{.User.Nickname}}" data-email="{{.User.Email}}" data-created-at="{{.User.CreatedAt}}"></div>
            {{ template "js-extra-bottom" . }}
        </body>
    </html>
{{ end }}
