@import "../variables";

.btn {
  font-family: $font-family-montserrat;
  text-transform: uppercase;
}

.btn-primary,
.show>.btn-primary.dropdown-toggle {
  outline: none !important;
  color: #fff;
  background-color: $background-color-02 !important;
  border-color: $border-color-03 !important;
}

.btn-primary {
  &:hover {
    background-color: $background-color-01 !important;
    border-color: $border-color-04 !important;
  }
}
