@import "../variables";

.card {
  .card-header {
    border-bottom: none !important;
  }

  .card-body {
    a {
      color: $theme-color-01 !important;
    }
  }

  .card-title {
    font-size: $font-size-small;
    font-weight: bold;
    color: $theme-color-01;
  }
}
