@import "../variables";

#dashboard-total-sales-chart,
#metrics-total-sales-chart,
#metrics-units-sold-chart,
#metrics-product-costs-chart,
#metrics-amazon-costs-chart,
#metrics-advertising-spend-chart,
#metrics-refunds-chart,
#metrics-shipping-credits-chart,
#metrics-promotional-rebates-chart,
#metrics-total-costs-chart,
#metrics-gross-margin-chart,
#metrics-net-margin-chart,
#forecast-chart {
  min-height: 250px;
  border: 1px solid $border-color-01;
  border-radius: .25rem;
}
