@import "../variables";

.page-content {
  position: relative;
  padding: 15px;
  background-image: url("../../../web/static/images/backgrounds/content.svg");
  background-size: cover;
  overflow-y: auto;
}
