@import "../variables";

.form-control {
  border-radius: 4px !important;
}

.form-group {
  label {
    font-size: $font-size-small !important;
    font-family: $font-family-montserrat;
    font-weight: bold;
    line-height: 1.5rem !important;
    text-transform: uppercase;
  }
}
