@import "../variables";

.table-responsive {
  overflow-x: unset !important;
}

table.dataTable {
  tbody {
    td {
      outline: none;
    }
  }

  thead {
    th {
      outline: none;
      font-size: $font-size-small;
      font-family: $font-family-montserrat;
      color: $font-color-03;
    }
  }
}

table {
  >thead {
    >tr {
      >th {
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
