/* Theme Colors */
$theme-color-01:            #36133d;
$theme-color-02:            #942972;

/* Background Colors */
$background-color-01:       #fdb913;
$background-color-02:       #bfc3ce;

/* Font Colors */
$font-color-01:             #bfc3ce;

/* Border Colors */
$border-color-01:           #f2f4f9;

/* Alerts */
$alert-valid:               #bcebd1;
$alert-invalid:             #ffc6d4;

/* Font Sizes */
$font-size-extra-small:     11px;
$font-size-small:           12px;
$font-size-medium:          14px;
